body {
    font-family: 'VT323', sans-serif;
    background-image: url("https://64.media.tumblr.com/2e25936fe6eeaf5514540623410b1e65/691d5720c30a4275-96/s1280x1920/927766909f6a2811b7b2ac99590b2e3a08908a50.gifv");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}


h1{
    font-family: 'VT323', sans-serif;
    color: #EA4BE9;
    text-shadow: rgba(234, 75, 233, 0.6) 1px 0 12px;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0.2em 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(54, 73, 89, 0.8);
    box-shadow: 0 0 50px 15px #3286B2;
}

input[type="text"] {
    width: calc(100% - 88px); /* Volle Breite des Containers abzüglich Breite der Buttons */
    box-sizing: border-box; /* Die Breite enthält auch Padding und Border */
    padding: 8px;
    margin-bottom: 10px;
    font-family: 'VT323', sans-serif;
    color: #364959;

}

input::placeholder{
    font-size: 18px;
}

button {
    padding: 8px 12px;
    background-color: #EA4BE9;
    color: #FDFCFB;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'VT323', sans-serif;
    font-size: 16px;
    width: 80px;

}

button:hover {
    box-shadow: 0 0 10px 2px #EA4BE9;
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

li {
    margin-bottom: 5px;
    display: flex; 
    align-items: center;
    color: #FDFCFB;
    font-size: 18px;
    transition: opacity 2s ease;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
    opacity: 0;
}

.deleteButton{
    margin-left: 2px;
}

input[type="checkbox"]{
    margin-left: auto;
    width: 30px !important;
    height: 30px !important;
    accent-color: #EA4BE9;
}


